@font-face {
  font-family: Symtext;
  src: url(../font/Pixeltype.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Symtext;
}

@keyframes animatedBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5000px 1000px;
  }
}
#backgroundImg {
  display: flex;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background2.png);
  background-repeat: repeat;
  background-size: contain;
  animation: animatedBg 160s alternate infinite;
}

body {
  background-color: rgb(46, 0, 130);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  width: 100vw;
  height: 50px;
  height: 20vh;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu nav ul {
  display: flex;
  margin-top: 50px;
  gap: 100px;
}
#menu nav ul li {
  list-style: none;
}
#menu nav ul li a {
  display: flex;
  background-color: rgb(97, 24, 213);
  border: 5px outset rgb(129, 50, 255);
  height: 50px;
  width: 100px;
  color: rgb(95, 224, 86);
  text-decoration: none;
  font-weight: bold;
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.724);
}
#menu nav ul li :hover {
  background-color: rgb(129, 50, 255);
  color: rgb(88, 254, 76);
  border: 5px outset rgb(97, 24, 213);
}
#menu nav ul li :active {
  background-color: rgb(34, 0, 90);
  color: rgb(39, 174, 29);
  border: 5px outset rgb(85, 0, 223);
  padding-top: 2px;
}

.contenido {
  background-color: #F1FAFF;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  align-items: center;
  position: absolute;
  top: 25vh;
  border: 8px outset rgb(129, 50, 255);
  box-shadow: 5px 5px 15px rgb(23, 23, 23);
  max-height: 60vh;
  min-height: 500px;
}
.contenido h1 {
  margin-top: 50px;
  font-size: 48px;
}

#formulario {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}
#formulario form {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
#formulario form #label {
  margin-top: 15px;
  font-size: 28px;
}
#formulario form #button {
  margin-top: 30px;
  text-align: center;
}
#formulario form p .inputSmall {
  width: 40px;
}
#formulario form p .inputButton {
  width: 70px;
  height: 35px;
}
#formulario form p input {
  height: 30px;
  width: 180px;
  padding: 4px 4px 0px 4px;
  font-size: 24px;
}

#button :hover {
  background-color: rgb(129, 50, 255);
  color: rgb(88, 254, 76);
  border: 5px outset rgb(97, 24, 213);
}
#button :active {
  background-color: rgb(34, 0, 90);
  color: rgb(39, 174, 29);
  border: 5px outset rgb(85, 0, 223);
  padding-top: 6px;
}

.inputButton {
  display: flex;
  background-color: rgb(97, 24, 213);
  border: 5px outset rgb(129, 50, 255);
  height: 50px;
  width: 100px;
  color: rgb(95, 224, 86);
  text-decoration: none;
  font-weight: bold;
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.724);
}

#formText {
  border: 2px solid black;
  border-radius: 0%;
  background-color: rgb(218, 241, 218);
  color: black;
}

#resumen {
  display: none;
  background: rgba(255, 255, 255, 0);
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

#emoji {
  margin-top: 10px;
  font-size: 32px;
}

#calcContent {
  justify-content: center;
}

#calcResult {
  grid-area: calcResult;
}

#calcOne {
  grid-area: calcOne;
}

#calcTwo {
  grid-area: calcTwo;
}

#calcThree {
  grid-area: calcThree;
}

#calcFour {
  grid-area: calcFour;
}

#calcFive {
  grid-area: calcFive;
}

#calcSix {
  grid-area: calcSix;
}

#calcSeven {
  grid-area: calcSeven;
}

#calcEight {
  grid-area: calcEight;
}

#calcNine {
  grid-area: calcNine;
}

#calcZero {
  grid-area: calcZero;
}

#calcPlus {
  grid-area: calcPlus;
}

#calcMinus {
  grid-area: calcMinus;
}

#calcDiv {
  grid-area: calcDiv;
}

#calcMult {
  grid-area: calcMult;
}

#calcEqual {
  grid-area: calcEqual;
}

#calcClear {
  grid-area: calcClear;
}

#calcOut {
  display: grid;
  background-color: rgb(97, 24, 213);
  border: 10px rgb(85, 0, 223) outset;
  border-radius: 3%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.557);
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "calcResult calcResult calcResult calcResult" "calcSeven calcEight calcNine calcDiv" "calcFour calcFive calcSix calcMult" "calcOne calcTwo calcThree calcMinus" "calcZero calcClear calcEqual calcPlus";
  height: 430px;
  width: 320px;
  text-align: center;
  align-items: center;
}
#calcOut :active {
  padding-top: 2px;
}

#calcResult :focus {
  outline: none;
}

.calcResultForm {
  width: 250px;
  height: 60px;
  font-size: 34px;
  margin-top: 20px;
  padding: 12px 10px 0px 10px;
  background-color: rgb(218, 241, 218);
  box-shadow: 10px 10px 8px -10px inset black;
  font-size: 50px;
  text-align: right;
}

.calcBtn {
  width: 45px;
  height: 48px;
  font-size: 32px;
  background-color: rgb(129, 50, 255);
  color: white;
  font-weight: bold;
}

#dominatrixImg {
  visibility: hidden;
  position: fixed;
  top: 25%;
  z-index: 2;
  pointer-events: none;
}
#dominatrixImg img {
  opacity: 0.3;
}

#jesouvie {
  padding-top: 50px;
}

#juevesCheckerBtn {
  margin-top: 50px;
}
#juevesCheckerBtn input {
  width: 150px;
  height: 80px;
  font-size: 36px;
  font-weight: bold;
  background-color: rgb(129, 50, 255);
  color: rgb(95, 224, 86);
  border: 8px rgb(129, 50, 255) inset;
}
#juevesCheckerBtn :active {
  border: 12px rgb(85, 0, 223) inset;
  background-color: rgb(97, 24, 213);
  color: rgb(50, 185, 41);
  padding-top: 2px;
}

#juevesChecker {
  margin-top: 50px;
  font-weight: bold;
  font-size: 32px;
}

@keyframes juevesSi {
  0% {
    color: yellow;
    box-shadow: 0px 0px 15px 6px rgba(255, 0, 0, 0.838);
  }
  10% {
    color: green;
  }
  20% {
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 15px 6px rgb(21, 255, 0);
  }
  30% {
    color: blue;
  }
  40% {
    color: orange;
  }
  50% {
    color: violet;
    box-shadow: 0px 0px 15px 6px rgb(255, 251, 0);
  }
  60% {
    color: grey;
  }
  70% {
    color: rgb(250, 91, 91);
  }
  80% {
    color: rgb(153, 255, 0);
    box-shadow: 0px 0px 15px 6px rgb(17, 0, 255);
  }
  90% {
    color: rgb(255, 0, 153);
  }
  100% {
    color: rgb(194, 255, 51);
    box-shadow: 0px 0px 15px 6px rgba(255, 0, 0, 0.838);
  }
}
#juevesCheckerSi {
  visibility: hidden;
  font-weight: bolder;
  animation-name: juevesSi;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  font-size: 80px;
  border-radius: 40%;
  padding: 30px 25px 20px 25px;
  background-color: black;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}
footer input {
  background-color: #F1FAFF;
  border: 2px solid #F1FAFF;
}

#darkModeBtn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.darkModeContainer {
  background-color: rgb(34, 0, 90);
  color: #F1FAFF;
  border: 8px outset rgb(41, 14, 83);
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.darkModeBg {
  background-color: rgba(0, 0, 0, 0.765);
}

.darkModeMenu nav ul li a {
  background-color: rgb(41, 14, 83) !important;
  border: 5px outset rgb(25, 9, 52) !important;
  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0);
}
.darkModeMenu nav ul li :hover {
  background-color: rgb(129, 50, 255) !important;
  border: 5px outset rgb(97, 24, 213) !important;
}
.darkModeMenu nav ul li :active {
  background-color: rgb(34, 0, 90) !important;
  border: 5px outset rgb(85, 0, 223) !important;
}

@media only screen and (max-width: 900px) {
  .contenido {
    font-size: 0.9rem;
    max-width: 80vw;
    height: 500px;
  }
  #menu nav ul {
    gap: 50px;
  }
  #calcOut {
    height: 430px;
    width: 280px;
  }
  .calcResultForm {
    font-size: 46px;
  }
  .calcBtn {
    font-size: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
